/* NAVBAR STYLES */
:root {
  --mainblue: #4F9CCF;
  --offwhite: #F2EEE3;
  --altgrey: #636363;
}

.Link {
  text-decoration: none;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: #F2EEE3;
}

.navbar h2 {
  color: var(--mainblue);
}

.nav-list {
  display: flex;
  flex-direction: row;
  gap: 3vh;
  text-decoration: none;
}

.nav-link {
  text-decoration: none;
  color: var(--offwhite);
}

/* NOW PLAYING STYLES */
.now-playing-hero {
  position: relative;
}

.movie-hero-details {
  position: absolute;
  color: white;
  bottom: 10%;
  width: 50%;
  padding: 4vh;
}

.movie-hero h2 {
  font-size: 45px ;
  margin: 0px;
}

.movie-hero p {
  width: 70%;
  margin-bottom: 3vh;
}

.movie-hero-btns {
  display: flex;
  gap: 5vh;
}

.movie-hero-btns div {
  border-radius: 10px;
  padding-left: 1vh ;
  padding-right: 1vh ;
}

.movie-hero-watch {
  background-color: var(--mainblue);
}

.movie-hero-more {
  background-color: var(--altgrey);
}

.now-playing-hero img {
  width: 100%;
  border-radius: 10px;
}

.now-playing-list {
  color: var(--offwhite);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 0.5rem;
}

.now-playing-list-link {
  width: 15%;
}

.now-playing-thumbnails{
  position: relative;
  width: 100%;
  margin-top: 3vh;
}

.now-playing-thumbnails:hover {
  scale: 1.1;
  transition: ease-in-out 0.3s;
}

.now-playing-thumbnails-details {
  position: absolute;
}

.now-playing-thumbnails img {
  width: 100%;
  border-radius: 10px;
}

.now-playing-movie {
  color: var(--offwhite);
  /* border: 1px solid red; */
}

.now-playing-movie-gradient {
  position: relative;
  /* border: 1px solid blue; */
  background: #000000;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.43) 24%, rgba(255, 255, 255, 0) 50%);
}

.now-playing-movie img {
  width: 100%;
  position: relative;
  z-index: -1;
}

.now-playing-movie-details {
  position: absolute;
  bottom: 10%;
  width: 50%;
  padding: 4vh;
}

.now-playing-movie-details small {
  padding-right: 4vh;
}

.now-playing-movie-btns {
  display: flex;
  gap: 4vh;
}

.now-playing-movie-btns div {
  border-radius: 10px;
  padding-left: 5vh;
  padding-right: 5vh;
}

.now-playing-movie-play {
  background-color: var(--mainblue);
  display: flex;
  align-items: center;
  gap: 1vh;
}

.now-playing-movie-trailer {
  background-color: var(--altgrey);
}

.now-playing-movie-credits {
  /* border: 2px blue solid; */
  display: flex; 
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 2vh;
}

#cast {
  margin-top: 3vh;
}

.movie-cast{
  display: flex;
  align-items: flex-start;
  /* border: 1px solid red; */
  width: 30%;
  margin-bottom: 5vh;
}

.movie-cast-details {
  display: flex;
  flex-direction: column;
}

.movie-cast h2 {
  margin: 0vh;
}

.movie-cast p {
  margin: 0vh;
  margin-bottom: 3vh;
}

.movie-cast img {
  width: 15vh;
  margin-right: 3vh;
}









/*         TV SHOW STYLES.          */
.show-hero-details {
  position: absolute;
  color: white;
  bottom: 10%;
  width: 50%;
  padding: 4vh;
}

.show-hero h2 {
  font-size: 45px ;
  margin: 0px;
}

.show-hero p {
  width: 70%;
  margin-bottom: 3vh;
}

.show-hero-btns {
  display: flex;
  gap: 5vh;
}

.show-hero-btns div {
  border-radius: 10px;
  padding-left: 1vh ;
  padding-right: 1vh ;
}

.show-hero-watch {
  background-color: var(--mainblue);
}

.show-hero-more {
  background-color: var(--altgrey);
}

.show-hero img {
  width: 100%;
  position: relative;
  z-index: -1;
}

.show-list {
  color: var(--offwhite);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 0.5rem;
}

.show-list-link {
  width: 15%;
}

.show-list-thumbnails {
  position: relative;
  width: 100%;
  margin-top: 3vh;
}

.show-list-thumbnails-details {
  position: absolute;
}

.show-list-thumbnails img {
  width: 100%;
  border-radius: 10px;
}

.single-show {
  color: var(--offwhite);
  /* border: 1px solid red; */
}

.single-show-gradient {
  position: relative;
  /* border: 1px solid blue; */
  background: #000000;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.43) 24%, rgba(255, 255, 255, 0) 50%);
}

.single-show-details {
  position: absolute;
  bottom: 10%;
  width: 50%;
  padding: 4vh;
}

.single-show-details small {
  padding-right: 4vh;
}

.single-show-btns {
  display: flex;
  gap: 4vh;
}

.single-show-btns div {
  border-radius: 10px;
  padding-left: 5vh;
  padding-right: 5vh;
}

.single-show-play {
  background-color: var(--mainblue);
  display: flex;
  align-items: center;
  gap: 1vh;
}

.single-show-trailer {
  background-color: var(--altgrey);
}

.single-show-gradient img {
  width: 100%;
  position: relative;
  z-index: -1;
}

.season-selector {
  margin-top: 3vh;
}
#season-selector {
  color: var(--offwhite);
  font-size: 14px;
  font-family: "Outfit", sans-serif;
  font-weight: bold;
  padding: 1vh;
  background-color: var(--altgrey);
  border-radius: 1vh;
}

.show-episodes {
  margin-top: 4vh;
}

.episode-cont {
  border-bottom: 1px solid var(--altgrey);
  display: flex;
  gap: 3vh;
  margin-bottom: 2vh;
  padding: 2vh;
}

.episode-cont img {
  /* border: 1px solid blue; */
  width: 25%;
}

.episode-details {
  display: flex;
  flex-direction: column;
}





/* RESPONSIVE TABLETS */
@media screen and (max-width: 800px) {
  .now-playing-hero-details {
    bottom: 0px;
    width: 50%;
    padding: 4vh;
  }
  .now-playing-hero h2 {
    font-size: 32px ;
    margin: 0px;
  }
  .now-playing-hero p {
    font-size: 12px;
    width: 70%;
    margin-bottom: 3vh;
  }
  .now-playing-hero-btns {
    gap: 2vh;
  }
  .now-playing-hero-watch {
    font-size: 14px;
  }
  .now-playing-hero-more {
    font-size: 14px;
  }
  .now-playing-list-link {
    width: 20%;
  }
}