.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: #F2EEE3;
}

.navbar h2 {
  color: #4F9CCF;
}

.nav-list {
  display: flex;
  flex-direction: row;
  gap: 3vh;
  text-decoration: none;
}

.nav-link {
  text-decoration: none;
  color: #F2EEE3;
}
